/** custom style sheet by Thilo Ilg **/

/** id's **/

/**
* all
*/
.jAlbum * {
	/** prevent blue outline **/
	outline: none;
	/** image-rendering: pixelated; **/
}
/**
* wrapper -> presents size of the window or the embetted section
*/
#Embeddable{
	/** if transparent adopt color of parent page if embedded **/
	background-color: transparent;

	width: 100%;
	overflow: hidden;

	/** prevent selection **/
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

/**
* fullscreen -> shows imformation of media in fullscreen, goes out of the frame, takes whole page size
*/
.jAlbum #fullscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200%;
	height: 200%;
	overflow: hidden;
	z-index: 100000;
	display: none;
	background: rgba(0, 0, 0, .75);
}

.jAlbum #fullscreen .fs_box {
	z-index: 400;
	position: absolute;
	background: transparent;
}

.jAlbum #fullscreen img {
	position: absolute;
	border: 1px solid #fff;
	background-color: #fff;
	z-index: 200;
	border: none;
}

/**
* content -> includes the media like images and folders of images
*/
.jAlbum #jAlbum-content, .jAlbum #jAlbum-content a, .jAlbum #jAlbum-content p{
	text-decoration: none;
}

.jAlbum #jAlbum-content img{
	border: 1px solid #fff;
	background-color: #fff;
}

.jAlbum #jAlbum-content p{
	padding-top: 3px;
	padding-left: 5px;
}

/**
* footer -> includes footer information
*/
.jAlbum #jAlbum-footer{
	position: static;
	min-height: 40px;
	text-decoration: none;
}

.jAlbum #jAlbum-footer .center{
	padding: 20px 0px;
	text-align: center;
}

.jAlbum #jAlbum-footer .left{
	padding-left: 2.5%;
	padding-top: 8px;
	padding-bottom: 20px;
	z-index: 50;
	position: absolute;
	text-align: left;
}

.jAlbum #jAlbum-footer a{
	text-decoration: none;
}

.jAlbum #jAlbum-footer p {
	position: static;
	display: inline;
}

/** classes **/

/**
* shadow -> shadow behind images and folders
*/
.jAlbum .shadow{
	box-shadow: none;
}

/**
* cancel icon (created with plain css)
*/
.jAlbum .cancel{
	height: 28px;
	width: 28px;
	opacity: .75;
	margin: 2px;
	padding: 0px;
	z-index: 400;
	top: 0px;
	right: 0px;
	position: absolute;
	background-image: url("../img/cancel.png");
	background-size: cover;
	cursor: pointer;
}

/**
* empty folder representation
*/
.emptyFolderThumbnail {
	margin: 25px !important;
	background-color: transparent !important;
	border-color: transparent !important;
	height: auto !important;
}

/**
* folder title
*/
.folderTitle{
	position: inherit;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}


/**
* div structur of image and folder elements
*/
.main-box{
	position: static;
	overflow: hidden;
	float: left;
}

.text-box{
	position: absolute;
}

.wrapper-box{
	position: absolute;
	overflow: visible;
	float: left;
}